{% load url from future %}

<html><head>
    <title>Connect with Facebook</title>
    <style>
        body {
            margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
            text-align:center; /* Hack for IE5/Win */
            background-color:#000;
            color: #333333;
            direction: ltr;
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            font-size: 11px;
        }
        #footer {
            height: 80px;
        }
        .content {
            width:600px;
            margin:0px auto; /* Right and left margin widths set to "auto" */
            text-align:left; /* Counteract to IE5/Win Hack */
            padding:15px;
            border:1px solid #333;
            background-color:white;
        }
        .error {
            border: 1px solid red;
            margin-top: 10px;
            padding: 20px;
        }
        h2 {
            line-height: 20px;
            min-height: 20px;
            padding-bottom: 2px;
            vertical-align: bottom;
            color: #1C2A47;
            font-size: 16px;
        }
        a {
            color: #3B5998;
            cursor: pointer;
            text-decoration: none;
        }
        .messages {
            padding: 15px;
            background-color: #cdc;
            list-style: none;
        }

        #github a {
            -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 10px 0px, rgba(0, 0, 0, 0.0664063) 0px 0px 3px 1px inset;
            -webkit-transform: matrix(0.7071067811865475, 0.7071067811865476, -0.7071067811865476, 0.7071067811865475, 0, 0);
            background-attachment: scroll;
            background-clip: border-box;
            background-color: #EF7600;
            background-image: none;
            background-origin: padding-box;
            border-bottom-color: #EF9F4C;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-top-color: #EF9F4C;
            border-top-style: solid;
            border-top-width: 2px;
            box-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 10px 0px, rgba(0, 0, 0, 0.0664063) 0px 0px 3px 1px inset;
            color: white;
            cursor: auto;
            display: block;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 13px;
            font-weight: bold;
            height: 19px;
            letter-spacing: -1px;
            line-height: 19px;
            margin-bottom: 0px;
            margin-left: -50px;
            margin-right: 0px;
            margin-top: 40px;
            overflow-x: visible;
            padding-bottom: 3px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 3px;
            text-align: center;
            text-decoration: none;
            text-shadow: #522600 0px 0px 10px;
            width: 250px;
            z-index: 0;
        }
        #github {
            position: absolute;
            z-index: 100;
            top: 0px;
            right: 0px;
            width: 130px;
            height: 140px;
            overflow: hidden;
        }

        #rounded-corner
        {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 12px;
            margin: 45px;
            width: 480px;
            text-align: left;
            border-collapse: collapse;
        }
        #rounded-corner thead th
        {
            background: #b9c9fe;
        }

        #rounded-corner th
        {
            padding: 8px;
            font-weight: normal;
            font-size: 13px;
            color: #039;
            background: #b9c9fe;
        }
        #rounded-corner td
        {
            padding: 8px;
            background: #e8edff;
            border-top: 1px solid #fff;
            color: #669;
        }
        #rounded-corner tfoot td.rounded-foot-left
        {
            background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
        }
        #rounded-corner tfoot td.rounded-foot-right
        {
            background: #e8edff url('table-images/botright.png') right bottom no-repeat;
        }
        #rounded-corner tbody tr:hover td
        {
            background: #d0dafd;
        }

    </style>

    <link href="{{ STATIC_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />

</head><body>
<div id="github"><a href="https://github.com/tschellenbach/Django-facebook" title="Fork me on GitHub">Fork me on Github</a></div>
<div>



<div class="content" style="margin-top: 10px;">

    <div class="error" id="django_static_error">
        Couldn't load the static Javascript files, is django static configured correctly?
        <a href="http://docs.djangoproject.com/en/1.3/howto/static-files/" target="_blank">See the docs here.</a>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div style="margin-top: 60px;">

        {% if not user.is_authenticated %}

        <div class="inner_content">

            <!--form to call registration via facebook -->
            <form action="{% url 'facebook_connect' %}" method="post">
                <h2>Register, login or connect with Facebook</h2>
                <br />
                {% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="next" />

                <!--
                use error next for a seperate error page
                <input type="hidden" value="/error/" name="error_next" />
                -->
                <div id="facebook_login_js">
                <input onclick="F.connect(this.parentNode.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                (javascript popup)
                </div>

            </form>

            You are not logged in, Please login by clicking one of the buttons above

        </div>

        {% endif %}

    </div>

</div>

<script src="{{ STATIC_URL }}django_facebook/js/statictest.js" type="text/javascript"></script>

{% include 'django_facebook/_facebook_js.html' %}

</div>
</body></html>
